{% extends 'base.jinja2' %}

{% block subtitle %}Donations For Bob{% endblock subtitle %}

{% block content %}
<ul>
    {% for donation in donations %}
    {% if donation.donor.name == 'Bob' %}
        <li><b>{{ donation.donor.name }}</b>: {{ donation.value }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock content %}
